# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron
00 - dados brutos/geo.gpkg
00 - dados brutos/IPTU_1995.csv.gz
00 - dados brutos/IPTU_1996.csv.gz
00 - dados brutos/IPTU_1997.csv.gz
00 - dados brutos/IPTU_1998.csv.gz
00 - dados brutos/IPTU_1999.csv.gz
00 - dados brutos/IPTU_2000.csv.gz
00 - dados brutos/IPTU_2001.csv.gz
00 - dados brutos/IPTU_2002.csv.gz
00 - dados brutos/IPTU_2003.csv.gz
00 - dados brutos/IPTU_2004.csv.gz
00 - dados brutos/IPTU_2005.csv.gz
00 - dados brutos/IPTU_2006.csv.gz
00 - dados brutos/IPTU_2007.csv.gz
00 - dados brutos/IPTU_2008.csv.gz
00 - dados brutos/IPTU_2009.csv.gz
00 - dados brutos/IPTU_2010.csv.gz
00 - dados brutos/IPTU_2011.csv.gz
00 - dados brutos/IPTU_2012.csv.gz
00 - dados brutos/IPTU_2013.csv.gz
00 - dados brutos/IPTU_2014.csv.gz
00 - dados brutos/IPTU_2015.csv.gz
00 - dados brutos/IPTU_2016.csv.gz
00 - dados brutos/IPTU_2017.csv.gz
00 - dados brutos/IPTU_2018.csv.gz
00 - dados brutos/IPTU_2019.csv.gz
00 - dados brutos/IPTU_2020.csv.gz
00 - dados brutos/csv-gzip.bat
00 - dados brutos/msp_empreendimentos_sisacoe.xlsx
10 - processamentos/geo.gpkg
10 - processamentos/IPTU_1995_arrumado.csv.gz
10 - processamentos/IPTU_1996_arrumado.csv.gz
10 - processamentos/IPTU_1997_arrumado.csv.gz
10 - processamentos/IPTU_1998_arrumado.csv.gz
10 - processamentos/IPTU_1999_arrumado.csv.gz
10 - processamentos/IPTU_2000_arrumado.csv.gz
10 - processamentos/IPTU_2001_arrumado.csv.gz
10 - processamentos/IPTU_2002_arrumado.csv.gz
10 - processamentos/IPTU_2003_arrumado.csv.gz
10 - processamentos/IPTU_2004_arrumado.csv.gz
10 - processamentos/IPTU_2005_arrumado.csv.gz
10 - processamentos/IPTU_2006_arrumado.csv.gz
10 - processamentos/IPTU_2007_arrumado.csv.gz
10 - processamentos/IPTU_2008_arrumado.csv.gz
10 - processamentos/IPTU_2009_arrumado.csv.gz
10 - processamentos/IPTU_2010_arrumado.csv.gz
10 - processamentos/IPTU_2011_arrumado.csv.gz
10 - processamentos/IPTU_2012_arrumado.csv.gz
10 - processamentos/IPTU_2013_arrumado.csv.gz
10 - processamentos/IPTU_2014_arrumado.csv.gz
10 - processamentos/IPTU_2015_arrumado.csv.gz
10 - processamentos/IPTU_2016_arrumado.csv.gz
10 - processamentos/IPTU_2017_arrumado.csv.gz
10 - processamentos/IPTU_2018_arrumado.csv.gz
10 - processamentos/IPTU_2019_arrumado.csv.gz
10 - processamentos/IPTU_2020_arrumado.csv.gz
